.wrapper {
  background: #F4F5FC;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto; 
  overflow-x: hidden;
}

.container {
  margin: auto;
  min-height: 480px;
  display: flex;
  flex-direction: row;
}

.leftPanel {
  background: #5A61ED;
  width: 137px;
  position: relative;
}

.leftPanelTitle {
  color: #FFF;
  font-size: 49px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  transform: rotate(-90deg);
  position: absolute;
  width: max-content;
  bottom: 71px;
  right: -46px;
  user-select: none;
}

@media (max-width: 680px) {
  .container {
    flex-direction: column;
  }

  .leftPanel {
    width: 100%;
    padding: 5px 10px;
  }

  .leftPanelTitle {
    font-size: 25px;
    transform: none;
    position: static;
    width: auto;
    text-align: end;
  }
}
