.container {
  padding: 38.52px 21px 31.48px 20.8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 528px;
  font-family: 'Work Sans', sans-serif;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.bgSvg {
  position: absolute;
  z-index: -10;
  bottom: 0;
  right: 0;
}

@media (max-width: 550px) {
  .container {
    width: 95vw;
  }
}